.box{
    width: 50%;
    margin: 0 auto;
}
.mg-bt{
  margin-bottom: 30px;
}
.mg-top{
  margin-top: 15px;
}
.alert,.btn-submit {
    margin-top: 15px;
}
.status-check{
    color: #26a69a;
    cursor: pointer;
}
.status-checked{
    color: #f44336;
    cursor: pointer;
}
.delete-order{
  color: red;
  cursor: pointer;
}
.edit-order{
  color: #17a2b8;
  cursor: pointer;
}

/* icon */
.create-new-bill-order{
  color: #d94e0e;cursor: pointer;
}
.modal.modal-fixed-footer .modal-footer{
  text-align: left;
}
/* modal */
.modal{
  max-height: 85%!important;
}
/* Loading */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
  }
  .no-js #loader-wrapper {
    display: none;
  }
  
  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #16a085;
    -webkit-animation: spin 1.7s linear infinite;
            animation: spin 1.7s linear infinite;
    z-index: 11;
  }
  #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin-reverse 0.6s linear infinite;
            animation: spin-reverse 0.6s linear infinite;
  }
  #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin-reverse {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
    }
  }
  @keyframes spin-reverse {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 10;
  }
  
  #loader-wrapper .loader-section.section-left {
    left: 0;
  }
  
  #loader-wrapper .loader-section.section-right {
    right: 0;
  }
  
  /* Loaded styles */
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }
  
  /* end loading */
  /* Form login */
  /* body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8 !important;
    height: 100vh !important;
  } */
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  a{
    cursor: pointer;
  }

  /* Box shadow */
  .box-shadow{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 5px 7px -4px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, -1px 5px 7px -4px rgba(0,0,0,0);
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-top: 30px;
    border-radius: 3px;
  }
  .box-shadow:hover{
    -webkit-box-shadow: -1px 5px 11px -4px #000000; 
box-shadow: -1px 5px 11px -4px #000000;
  }